<!-- filename: bookpage.handlebars
	 created: 2/4/16 
	 created by: Marisa Kanemoto | mkanemoto@ucsd.edu -->

<!DOCTYPE html> 
<html lang ="en">
<head> 
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>{{title}}</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/getRead.css" rel="stylesheet">
	<link href="/css/bookpage.css" rel="stylesheet">
</head>

<body> 
{{> nav}}
	<div class="info">
		<h1>{{title}}</h1>
		<img class="coverImage" src="{{coverSource}}"> 
		<p class="title">{{title}}</p>
		<p>By {{author}}</p>
		Description:<br />
		<p>{{description}}</p>
	</div>
	Your rating:
	<div class="rating">
		<span id="1">☆</span>
		<span id="2">☆</span>
		<span id="3">☆</span>
		<span id="4">☆</span>
		<span id="5">☆</span>
	</div>
	<br />
	{{> bottomnav}}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html> <!--the last --> 