<!-- filename: bookpage.handlebars
	 created: 2/4/16 
	 created by: Marisa Kanemoto | mkanemoto@ucsd.edu -->

<!DOCTYPE html> 
<html lang ="en">
<head> 
	<title>A Book</title>
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bookpage.css" rel="stylesheet">
	<link href="/css/getRead.css" rel="stylesheet" type="text/css" >
</head>

<body> 
{{> nav}}

	<h1>{{title}}</h1>
	<img class="coverImage" src="{{coverSource}}"> 
	<p class="title">{{title}}</p>
	<p>By {{author}}</p>
	<p>{{description}}</p>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>
</html> <!--the last --> 