<!-- filename: index.handlebars
	 created: 2/3/16 
	 created by: Alex Kim 
	 modified: 10/20/19
	 modified by: Raquel Calderon
	-->

<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	{{> indexExperiment}}
	<title>GetRead</title>

	<!-- Bootstrap -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/index.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/getRead.css">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	</head>
	<body>
	{{> nav}}
	<div id="{{currentBook.title}}">
		<div class="flex-center column">
			<div class="my-row">
				<div id="content-container">
					<div class="my-row pos-r width-100">
						<div id="friend-icon">
							<img src= "{{currentBook.friend}}" class="img img-responsive" width="44px">
						</div>	
						<div>
							<a href="/book/{{title}}"><img src="{{currentBook.coverSource}}" class="img" id="cover"></a>
						</div>
					</div>
					<div>
						<div class="info center-text"></div>
						<div class="title center-text">{{currentBook.title}}</div>
						<div class="author center-text">{{currentBook.author}}</div>
					</div>
					<div class="row buttons flex-center">
						<a href="/prev" class="btn" id="prev">
							<span id="prevIcon" class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						</a>	
						<button class="{{#if liked}}liked {{else}}notLiked{{/if}} bookBtn btn btn-default img-responsive" id="likeBtn" type="submit">
						</button>
						<button class="bookBtn btn btn-default img-responsive" id="recBtn">
							<span id="recBtnIcon" class="glyphicon glyphicon-share-alt"></span>
						</button>
						<a href="/next" class="btn" id="next">
							<span id="nextIcon" class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div> <!--end of .currentBook-->

	<!--<center>
	</center>-->

	<!-- Recommend Modal -->
	{{> recommendFriendModal}}
	{{> bottomnav active_home=true}}
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="js/jquery-1.11.0.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>
	<script src="js/getRead.js"></script>
  {{> googleAnalytics}}

	</body>
</html>