<!-- filename: bookpage.handlebars
	 created: 2/4/16 
	 created by: Marisa Kanemoto | mkanemoto@ucsd.edu -->

<!DOCTYPE html> 
<html lang ="en">
<head> 
	<title>A Book</title>
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bookpage.css" rel="stylesheet">
</head>

<body> 
	<h1>{{title}}</h1>
	<img src="{{coverSource}}"> 
	<p class="title">{{title}}</p>
	<p>By {{author}}</p>
	<p>{{description}}</p>

	<script src="/js/bookpage.js"></script>
</body>
</html> <!--the last --> 