<!DOCTYPE html> 
<html lang ="en">
	<head> 
		<title>A Book</title>
		<link href="css/bookpage.css" rel="stylesheet">
	</head>

	<body> 
		<h1>{{title}}</h1>
		<img src="{{coverSource}}"> 
		<p class="title">{{title}}</p>
		<p>By {{author}}</p>
		<p>{{description}}</p>

	</body>

</html> <!--the last --> 